<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.westnordost.accesscomplete"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.screen.portrait"/>

    <application
        android:name="de.westnordost.accesscomplete.AccessCompleteApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:replace="android:allowBackup">
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name="de.westnordost.accesscomplete.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="geo" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.westnordost.accesscomplete.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="de.westnordost.accesscomplete.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="de.westnordost.accesscomplete.FragmentContainerActivity"/>
        <activity android:name="de.westnordost.accesscomplete.about.AboutActivity"/>
        <activity android:name="de.westnordost.accesscomplete.settings.ShowQuestFormsActivity"
            android:configChanges="orientation|screenSize|uiMode"/>
        <activity
            android:name="de.westnordost.accesscomplete.user.UserActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="de.westnordost.accesscomplete.measurement.ARCoreMeasurementActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <service android:name="de.westnordost.accesscomplete.data.download.QuestDownloadService" />
        <service android:name="de.westnordost.accesscomplete.data.upload.UploadService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/fileprovider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />
    </application>

</manifest>
